:root {
  text-transform: capitalize;
  --size: 10svw;
  
  
}
@font-face {
  font-family: 'Orbitron-VariableFont_wght';
  src: url('../src/fonts/Orbitron-VariableFont_wght.ttf') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Black Ops One';
  src: url('../src/fonts/black-ops-one-v20-latin-regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'LiquidCrystal-Bold' ;
  src: url('../src/fonts/LiquidCrystal-Bold.otf') format('opentype') ;
  font-display: swap;

}
body{
  margin: 0;
  padding: 0;
}

.app{

  height: 100dvh;
  display: grid;
  grid-template-columns: min-content 1fr;
}

.menu{
  grid-column: 1/2;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}
.box{
  grid-column: auto;
  display: grid;
  place-items: center;
  padding: 1.5rem ;
}
.menu > *{
  width: 2rem;
  height: 2rem;
  margin-bottom: 5px;
  border-radius: 50%;
  padding: 10px;
  background-image: url('/pexels-tamanna-rumee-7988099.webp');
  background-size: cover;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
   backdrop-filter: blur(15.5px);
}
.active{
  filter: brightness(120%);
}

.menu > * :hover{
  transform: scale(1.1);
  
}

.icon,img, .color_box, input[type="checkbox"]{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.input_box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .5rem;
  
}
.number_input_label{
  font-size: .9rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.number_input{
  background-color: inherit;
  padding: .2rem;
  border-radius: 10px ;
  outline: none ;
  border: 1px inset currentColor;
  width: 4rem;
  color: inherit;
}
.number_input:focus{
  border: 1px solid currentColor;
}
.btn_box{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.actionButton{
  padding: .4em 2em;
  border-radius: 1em;
  box-shadow: 0 4px 15px rgba(0, 0, 0,0.3);
  filter:  invert(.02);
  border: 2px solid transparent;
  backdrop-filter: blur(5px);
  transition: border .5s ease-out;
}
.actionButton:hover{
  border: 2px outset currentColor;
}

.timer{
  grid-template-rows:  min-content  1fr  min-content;
}
.stopwatch{
  grid-template-rows: 1fr  min-content;
}
.interval{
  grid-template-rows:  min-content  1fr   min-content;
  
}
.timer_value{
  font-size: var(--size);
  font-weight: bolder;

}


.interval_timer{
  width:100% ;
  display: grid;
  grid-template-columns: 100px 2fr 100px;
  grid-template-rows:100px 2fr 100px ;
  column-gap: .5em;
  place-items: center;
}

#state{
  opacity: .5;
  text-transform: capitalize;
  display: block;
}
.total_timer{
  grid-column: 1/2;
  grid-row: 3/4;
}
.current_set{
  grid-column: 1/2;
  grid-row: 1/2;
}
.current_time{
  display:grid;
  font-weight: bolder;
  font-size: var(--size);
  text-align: center;
  grid-row: 2/3 ;
  grid-column: 2/3 ;
}
.settings_container{
  display: flex;
  flex-direction: column;
  margin: 2em;
  gap: 2em;
}

.settings_subcontainer{
  display: grid;
  align-items: center;
  grid-template-columns: 200px 1fr;
}


.volume_slider{
  width: 15em;
  
}

.color_box{
  border: 4px inset  #d3d3d3;
  border-radius: 50% ;
  transition: all .3s ease-in-out;
}
.color_box:hover{
  border: 3px inset #d3d3d3;
}
.backgroundColors_list{
  display: grid;
  grid-template-columns: repeat(4,max-content);
  grid-template-rows: max-content max-content;
  grid-gap: .3em .3em;
}

.fonts_list{
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.font_option{
  padding: 8px;
  letter-spacing: 2px;
  box-shadow: 0 4px 15px rgba(0, 0, 0,0.3);
  filter:  invert(.2);
  backdrop-filter: blur(20px);
  cursor: pointer;
  font-weight: bolder;
}
.font_option:hover{
  transform: translateX(5px); 
}

.progressBar_container{
  grid-column: 3/4;
  grid-row: 1/4;
  width: .5em;
  padding: 4px;
  height: 85%;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(215, 215, 215, 0.5),0 0 3px 1px rgba(215, 215, 215, 0.5) inset;
  background: rgba(255, 255, 255,0.25);
}
.progressBar{
  width: 100%;
  border-radius: 15px;
  background-color: currentColor;
}